<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
  <div class="col-lg-4 feature-card div1">
    <img
      src="{{ `label.svg` | relURL }}"
      style="height: 4em; width: 4em"
      alt="agents"
    />
    <h3 class="feature-title">Localized Data Annotation</h3>
    <p>
      Enhance your AI models with high-quality, culturally-aware data annotation
      tailored for multiple African languages.
    </p>
    <button class="cool-button learn-more">
      <span aria-hidden="true" class="circle">
        <span class="icon arrow"></span>
      </span>
      <span class="cool-button-text">Learn More</span>
    </button>
  </div>
  <div class="col-lg-4 feature-card div2">
    <img
      src="{{ `agents.svg` | relURL }}"
      style="height: 4em; width: 4em"
      alt="agents"
    />
    <h3 class="feature-title">
      LLM WorkForce Agents <small class="d-none">🚀</small>
    </h3>
    <p>
      AI-Powered voice assistance workers trained on the continent's cultural
      nuances, accents, and dialects
    </p>
    <button class="cool-button learn-more">
      <span aria-hidden="true" class="circle">
        <span class="icon arrow"></span>
      </span>
      <span class="cool-button-text">Learn More</span>
    </button>
  </div>
  <div class="col-lg-4 feature-card div3">
    <img
      src="{{ `gear-complete.svg` | relURL }}"
      class="gear-icon"
      style="height: 4em; width: 4em"
      alt="agents"
    />
    <h2 class="h2 feature-title">
      Umoja Data Engine<small class="d-none">📈</small>
    </h2>
    <p>
      Use Africa AI's most powerful data engine, Umoja, tailored to your needs
      and usecases.
    </p>
    <button class="cool-button learn-more">
      <span aria-hidden="true" class="circle">
        <span class="icon arrow"></span>
      </span>
      <span class="cool-button-text">Learn More</span>
    </button>
  </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
  <div class="col-lg-4 feature-card div4">
    <img
      src="{{ `dna.svg` | relURL }}"
      style="height: 4em; width: 4em"
      alt="agents"
    />
    <h2 class="h2 feature-title">
      Model Unlearning <small class="d-none">🦉</small>
    </h2>
    <p>
      Measure and Reduce model vulnerabilty by using our model unlearning
      features, protecting against model leaks.
    </p>
    <button class="cool-button learn-more">
      <span aria-hidden="true" class="circle">
        <span class="icon arrow"></span>
      </span>
      <span class="cool-button-text">Learn More</span>
    </button>
  </div>
  <div class="col-lg-4 feature-card">
    <img
      src="{{ `quality.svg` | relURL }}"
      style="height: 4em; width: 4em"
      alt="agents"
    />
    <h2 class="h2 feature-title">
      Data Curation <small class="d-none">✨</small>
    </h2>
    <p>
      Extensible, feature-packed 200,000+ datasets for 3-D, Image, Mapping, Text
      and Audio usecases for your next big app.
    </p>
    <button class="cool-button learn-more">
      <span aria-hidden="true" class="circle">
        <span class="icon arrow"></span>
      </span>
      <span class="cool-button-text">Learn More</span>
    </button>
  </div>
  <div class="col-lg-4 feature-card">
    <img
      src="{{ `dash.svg` | relURL }}"
      style="height: 4em; width: 4em"
      alt="agents"
    />
    <h2 class="h2 feature-title">
      Localized AI, Built for Africa <small class="d-none">🧰</small>
    </h2>
    <p>
      Beyond generic AI, build models trained on the continents data that truly
      fit languages, industries, and challenges.
    </p>
    <!-- From Uiverse.io by kennyotsu-monochromia -->
    <!-- From Uiverse.io by Saad3092003 -->
    <button class="cool-button learn-more">
      <span aria-hidden="true" class="circle">
        <span class="icon arrow"></span>
      </span>
      <span class="cool-button-text">Learn More</span>
    </button>
  </div>
</div>
