<section class="section bd-masthead">
  <div class="container-xxl">
    <div class="col-md-8 mx-auto text-center my-5">
      <!-- Hero Section -->
      <header class="hero">
        <h1
          style="
            display: wrap;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-bottom: 50px;
          "
        >
          <span class="hero-tagline">The future of your industry&nbsp;</span>
          <span class="gradient-text">starts here.</span>
        </h1>
      </header>
      <!-- From Uiverse.io by gharsh11032000 -->

      <div class="form-container">
        <form class="form">
          <div class="form-group">
            <label for="email">Company Email</label>
            <input type="text" id="email" name="email" required="" />
          </div>
          <div class="form-group">
            <label for="textarea">How Can We Help You?</label>
            <textarea
              name="textarea"
              id="textarea"
              rows="100"
              cols="100"
              required=""
            >
            </textarea>
          </div>
          <button class="form-submit-btn" type="submit">Submit</button>
        </form>
      </div>
      <!-- End of form -->
      <div style="margin-bottom: 30px"></div>
      <h1 class="display-4 hero-tagline mb-3">{{ .Site.Title }}</h1>
    </div>
  </div>
</section>
